body {
  padding: 0;
  margin: 0;
  background: #F5FEF9;
  font-family: 'PT Sans Narrow', sans-serif;
  color: #999;
}

#start-area {
  width: 300px;
  margin: 80px auto;
}

#header-area {
  text-align: center;
  font-weight: 700;
}

#main-header {
  color: #433F6F;
  font-size: 85px;
}

#sub-header {
  color: #00B359;
  font-size: 40px;
}

#play-area {
  margin: 20px auto;
}

#input-area {
  width: 200px;
  margin: 0 auto;
  border: 2px solid #7763CF;
  border-radius: 30px;
  background: #fff;
  padding: 2px;
}

#nickname-input {
  border: 0;
  padding: 10px 10px;
  width: 150px;
  margin-left: 15px;
  text-align: center;
  color: #999;
  font-size: 20px;
  outline: 0;
  font-family: 'PT Sans Narrow', sans-serif;
}

#button-area {
  width: 200px;
  margin: 0 auto;
  border: 2px solid #00b158;
  background: #00CC66;
  border-radius: 30px;
  text-align: center;
  margin: 10px auto;
  padding: 2px;
}

#button-area:hover {
  background: #00b158;
}

#play-button {
  background: transparent;
  border: 0;
  font-size: 20px;
  color: #fff;
  width: 150px;
  padding: 10px 10px;
  outline: 0;
  cursor: pointer;
  font-family: 'PT Sans Narrow', sans-serif;
}

#greeting-area {
  font-size: 20px;
  text-align: center;
}

#game-area {
  position: absolute;
  top: 0;
  left: 0;
}
